$theme-background-color-light: #ffff;
$theme-background-color-dark: rgb(0, 0, 0);
$sp-color-white-1: #ffff;
$sp-color-white-2: #e2e5de;
$sp-color-white-3: #f2f3f2;
$sp-color-black-1: #0000;
$sp-color-black-2: #0000;
$sp-color-black-3: #0000;
$sp-color-text-primary: #007bff;
$sp-color-text-secondary: #6c757d;
$sp-color-text-success: #28a745;
$sp-color-text-danger: #dc3545;
$sp-color-text-warning: #ffc107;
$sp-color-text-info: #17a2b8;
$sp-color-text-light: #f8f9fa;
$sp-color-text-dark: #343a40;
$sp-color-text-muted: #6c757d;
$sp-color-text-white: #ffff;
$sp-color-text-blue-1: #1a94ff;
$sp-color-text-black: #000;
$sp-color-text-orange-1: #ffbd24;
$sp-color-text-price: #f9ae00;
$sp-color-star-yellow: #f1b500;
/* Background Color */

$sp-background-color-gray-1: #333333;
$sp-background-color-primary: rgb(0, 123, 255);
$sp-background-color-primary-2: rgba(41, 143, 251, 1);
$sp-background-color-secondary: rgb(255, 255, 255);
$sp-background-color-success: rgb(40, 167, 69);
$sp-background-color-danger: rgb(220, 53, 69);
$sp-background-color-warning: rgb(255, 193, 7);
$sp-background-color-info: rgb(23, 162, 184);
$sp-background-color-light: rgb(248, 249, 250);
$sp-background-color-dark: rgb(52, 58, 64);
$sp-background-color-white: rgb(255, 255, 255);
$sp-background-color-white-3: rgb(246, 246, 246);
